*,
*::after,
*::before {
    box-sizing: border-box;
    font-family: inherit;
    padding: 0;
    margin: 0;
}

html {
    --bg-color-primary: #f4f7f9;
    --bg-color-secondary: #ffffff;
    --button-bg-color: #0000ff;
    --button-font-color: hsl(0, 0%, 100%);
    --button-bg-color-hover: #1300e8;
    --button-font-color-hover: hsl(0, 0%, 90%);
    --font-color-primary: hsl(240, 16%, 48%);
    --font-color-secondary: hsl(240, 81%, 71%);
    --font-color-tertiary: hsl(240, 81%, 71%);
}

html[data-theme="dark"] {
    --bg-color-primary: hsl(240, 5%, 11%);
    --bg-color-secondary: hsl(240, 4%, 21%);
}

body {
    width: 100vw;
    font-family: "Poppins", sans-serif;

    background-color: var(--bg-color-primary);
    height: 90vh;
}

.nav-bar {
    display: flex;
    padding: 0.6em;
    margin: 0;
    justify-content: center;
    background-color: var(--bg-color-secondary);
}

.nav-content {
    display: grid;
    gap: 0.5em;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.nav-content li {
    display: inline-block;
}

.btn {
    background-color: var(--button-bg-color);
    width: 100%;
    height: 100%;

    border: none;
    border-color: #000000;
    border-style: solid;
    border-width: 3px;
    box-shadow: #000000 2px 2px 0px 0px;
    text-align: center;
    font-size: 1.2em;
    font-weight: 500;
    padding: 0.5rem 2em;
    cursor: pointer;
    color: var(--button-font-color);
    background-color: var(--button-bg-color);
    transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out,
        transform 0.1s ease-in-out;
}

.btn:hover {
    background-color: var(--button-bg-color-hover);
    transform: translate(-1px, -1px);
}

.sorting-name {
    display: inline-block;
    font-size: 1.6em;
}

.canvas-container {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: inherit;
}

.main-content {
    height: 100%;
    padding: 5em 10em 10em 10em;
    background-color: var(--bg-color-secondary);
}

.graph-container {
    margin: 0;
    width: 70vw;
    padding: 100px;
    color: rgb(248, 248, 248);
}

.main-content > * {
    margin: auto;
}

.graph-context {
    display: block;
    margin: 0 auto;
}

.control-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5em;
    padding: 1em;
}

@media (max-width: 768px) {
    .nav-content {
        grid-template-columns: 1fr 1fr;
    }
    .btn {
        font-size: 14px;
    }
}
